header {
  height:250px;
}
header h1{
  height:150px;
}
/*#logo{
    background-color: FF0;
}*/
/*
nav .col-12{
    padding-left: 0;
    padding-right: 0;
}
/*
main .jumbotron{
    padding-left: 10px;
    padding-right: 10px;
}
*/
